@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Custom CSS */

body{
  min-height: 100vh;
  background: hsl(257, 40%, 49%) url("/images/bg-mobile.svg") no-repeat left top;
  background-size: contain;
  background-position: 0 top;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

header{
  width: 8rem;
  margin: 3rem 2rem;
}

 main div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content{
  padding: 3rem 0.6rem 0 1rem;
  gap: 1.5rem;
}

main div img{
  width: 100%;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

p{
  line-height: 1.6rem;
  font-size: 0.9rem;
}

button{
  border: none;
  width: 12rem;
  color: hsl(257, 40%, 49%);
  background-color: white;
  padding: 0.8rem 0;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  box-shadow: 5px 5px 10px 0px rgba(63, 63, 63, 0.86);
}

button:hover{
  background-color: hsl(300, 69%, 71%);
  transition: 0.4s ease-in-out;
  color: white;
}

footer{
  margin: 3rem 2rem;
}

.social-media-icons{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: white;
}

.social-media-icons i{ 
  border: 1px solid white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: white;
}

i:hover{
  color: hsl(300, 69%, 71%);
  transition: 0.4s ease-in-out;
  border: 1px solid hsl(300, 69%, 71%);
}

/* Media Queries */

@media (min-width: 600px) and (max-width: 800px){
  .image{
    margin: 0 auto;
    max-width: 35rem;
  }
}

@media (min-width: 800px){
  body{
    min-height: 100vh;
    background-image: url("/images/bg-desktop.svg");
    background-size: cover;
  }
  
  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
   main div{
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }
  
  .social-media-icons{
    justify-content: flex-end;
  }
}

@media (min-width: 800px) and (max-width: 1000px){
  .content{
    padding: 0 0.6rem 0 3rem;
    gap: 1rem;
    max-width: 30rem;
  }
  
  button{
    width: 10rem;
  } 
}

@media (min-width: 1200px){
  body{
    min-height: 100vh;
    background-size: contain;
  }
  
  header{
    height: 11vh;
    width: 14rem;
    margin: 3rem 4rem 0;
  }
  
  main{
    height: 70vh;
    padding: 0 4rem;
    grid-template-columns: 1.2fr 1fr;
    column-gap: 3rem;
  }
  
  main div{
    justify-content: center;
  }
  
  
  
  h1{
    font-size: 2.5rem;
    max-width: 30rem;
  }
  
  p{
    font-size: 1.2rem;
  }
  
  footer{ 
    margin: 0 4rem 0;
  }
  
  .social-media-icons{
    gap: 1rem; 
  }
  
}